<configuration debug="false" scan="true" scanPeriod="5 seconds">

   <!-- appenders -->
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%msg%n</pattern>
      </encoder>
   </appender>
   <appender name="STRATEGY" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>strategy.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <!-- daily rollover. Make sure the path matches the one in the file element or else
          the rollover logs are placed in the working directory. -->
         <fileNamePattern>strategy_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

         <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>5MB</maxFileSize>
         </timeBasedFileNamingAndTriggeringPolicy>
         <!-- keep 1 days' worth of history -->
         <maxHistory>1</maxHistory>
      </rollingPolicy>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>INFO</level>
      </filter>
      <encoder>
         <charset>UTF-8</charset>
         <pattern>%d %-4relative [%.10thread] %-5level %logger{2} - %msg%n</pattern>
      </encoder>
   </appender>
   <appender name="STRATEGY_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>strategy_debug.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <!-- daily rollover. Make sure the path matches the one in the file element or else
          the rollover logs are placed in the working directory. -->
         <fileNamePattern>strategy_debug_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

         <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>20MB</maxFileSize>
         </timeBasedFileNamingAndTriggeringPolicy>
         <!-- keep 1 days' worth of history -->
         <maxHistory>2</maxHistory>
      </rollingPolicy>

      <encoder>
         <charset>UTF-8</charset>
         <pattern>%d %-4relative [%.10thread] %-5level %logger{2} - %msg%n</pattern>
      </encoder>
   </appender>
   <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>application.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <!-- daily rollover. Make sure the path matches the one in the file element or else
          the rollover logs are placed in the working directory. -->
         <fileNamePattern>application_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

         <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>20MB</maxFileSize>
         </timeBasedFileNamingAndTriggeringPolicy>
         <!-- keep 1 days' worth of history -->
         <maxHistory>1</maxHistory>
      </rollingPolicy>

      <encoder>
         <charset>UTF-8</charset>
         <pattern>%d %-4relative [%.10thread] %-5level %logger{2} - %msg%n</pattern>
      </encoder>
   </appender>
   <appender name="PRICE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>price.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <!-- daily rollover. Make sure the path matches the one in the file element or else
          the rollover logs are placed in the working directory. -->
         <fileNamePattern>price_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

         <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>5MB</maxFileSize>
         </timeBasedFileNamingAndTriggeringPolicy>
         <!-- keep 1 days' worth of history -->
         <maxHistory>1</maxHistory>
      </rollingPolicy>

      <encoder>
         <charset>UTF-8</charset>
         <pattern>%date{ISO8601}%msg%n</pattern>
      </encoder>
   </appender>
   <!-- third party code loggers -->
   <logger name="httpclient.wire" level="warn"/>
   <logger name="org.apache.commons" level="warn"/>
   <logger name="org.apache.http" level="warn"/>
   <logger name="org.springframework" level="warn"/>
   <logger name="akka" level="DEBUG" />


   <logger name="com.iggroup.webapi.samples.client.streaming" level="info"/>
   <logger name="com.dario.agenttrader.marketStrategies" level="debug"/>

   <logger name="com.dario.agenttrader.strategies.ReEntryStrategy" level="debug">
      <appender-ref ref="STRATEGY_DEBUG"/>
   </logger>
   <logger name="com.dario.agenttrader.strategies" level="info">
      <appender-ref ref="STRATEGY"/>
   </logger>

   <root level="info">
      <appender-ref ref="APPLICATION"/>
   </root>

   <logger name="PRICE_LOGGER" level="info">
      <appender-ref ref="PRICE_FILE"/>
   </logger>

</configuration>
